includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 0
  phpVersion: 80100
  paths:
    - src
  scanDirectories:
    - joomla
  excludePaths:
    - */vendor/*
    - */tests/*
    - src/administrator/com_joomgallery/tmpl/*
    - src/administrator/com_joomgallery/layouts/*
    - src/site/com_joomgallery/tmpl/*
    - src/site/com_joomgallery/layouts/*
    - src/media/*
    - node_modules/*
  bootstrapFiles:
    - src/administrator/com_joomgallery/vendor/autoload.php
  ignoreErrors:
  reportUnmatchedIgnoredErrors: false
