.jg-tags-aiinterface {
  --gutter-x: 2rem;
  --gutter-y: 1rem;
  --grid-space-x: 1rem;
  --grid-space-y: 0.5rem;
}
.jg-tags-aiinterface .card{
  --card-spacer-x: 1.4rem;
  --card-spacer-y: 1.4rem;
}
.component .jg-tags-aiinterface .card {
  box-shadow: 0 3px 8px -5px #8e8e8e;
  --card-bg: #f0f0f0;
}
.jg-tags-aiinterface .top-controls {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.jg-tags-aiinterface .token-balance {
  margin-right: var(--gutter-x);
}
.jg-tags-aiinterface .image-panel {
  display: flex;
}
.jg-tags-aiinterface .images-panel .images .image {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: var(--gutter-y);
}
.jg-tags-aiinterface .images-panel .keywords {
  margin-left: var(--gutter-x);
}
.jg-tags-aiinterface .images-panel .navigation-btn {
  display: flex;
  justify-content: space-between;
}
.jg-tags-aiinterface .images-panel .keywords {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jg-tags-aiinterface .images-panel .keywords .grid-2 {
  width: 100%;
}
.jg-tags-aiinterface .input-group.ai-privacy input {
  min-width: 50px;
}
.jg-tags-aiinterface .keywords-panels .grid,
.jg-tags-aiinterface .manual-keywords .grid,
.jg-tags-aiinterface .images-panel .keywords .grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-space-y) var(--grid-space-x);
}
.jg-tags-aiinterface .images-panel .keywords .grid {
  gap: var(--grid-space-y) 3rem;
  justify-content: space-between;
}
.jg-tags-aiinterface .grid .grid-item {
  min-width: 100px;
  max-width: 200px;
}
.jg-tags-aiinterface .keywords-panels .js-stools-container-bar {
  margin-inline-start: initial;
}
.jg-tags-aiinterface .dropdown-menu a[aria-selected="true"] {
  color: var(--link-color);
  background-color: var(--template-bg-light);
}
.jg .header-icon {
  text-align: center;
  color: var(--gray-600);
  font-size: 3.5em;
}
.modal.fade .modal-dialog.level-2 {
  transform: translate(0, 0px);
}
.jgai-status-success {
  background-color: var(--success);
}
.jgai-status-failed {
  background-color: var(--danger);
}
.jgai-status-warning {
  background-color: var(--warning);
}
.color-black {
  color: #000000 !important;
}
.color-orange {
  color: #ff7b10 !important;
}
.color-red {
  color: #c90c0c !important;
}
.inline {
  display: inline;
}
label.inline {
  position: relative;
  top: -0.5rem;
  margin-right: 1em;
}
fieldset.inline .switcher {
  width: inherit;
}
